body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif !important;
}
.links {
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}
.hdicon {
  position: absolute;
  right: 11.53%;
  top: 5%;
  bottom: 14.95%;
}
.hdicon img {
  border: 1.66667px solid #98a2b3;
  border-radius: 50%;
  cursor: pointer;
  transition: all 600ms ease;
  padding: 0.5rem;
}
.hdicon img:hover {
  background: whitesmoke;
}
.social {
  width: 1.5rem;
  height: 1.5rem;
}
.img1 {
  width: 88px;
  height: 88px;
}
.bg-darklight {
  background: rgb(232, 232, 232) !important;
}
.dot {
  border-radius: 50%;
  background: #e7332b;
  width: 0.5rem;
  height: 0.5rem;
}
.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
